# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
arrow-cpp=0.11.1=py37h3bd774a_1
boost-cpp=1.68.0=h11c811c_1000
ca-certificates=2019.1.23=0
gst-plugins-base=1.14.0=hbbd80ab_1
intel-openmp=2019.1=144
libgcc-ng=8.2.0=hdf63c60_1
libgfortran-ng=7.3.0=hdf63c60_0
libstdcxx-ng=8.2.0=hdf63c60_1
numpy-base=1.16.2=py37hde5b4d6_0
parquet-cpp=1.5.1=3
python-dateutil=2.8.0=py_0
thrift-cpp=0.11.0=h02b749d_3
